@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--bg-base: 210 40% 98%;
		--color-base: 222 47% 11%;
		--bg-container: 198 32% 100%;
		--color-primary-0: 227 100% 98%;
		--color-primary-10: 230 100% 96%;
		--color-primary-20: 228 96% 91%;
		--color-primary-30: 228 95% 85%;
		--color-primary-40: 231 100% 75%;
		--color-primary-50: 229 95% 74%;
		--color-primary-60: 228 71% 56%;
		--color-primary-70: 228 56% 38%;
		--color-primary-80: 224 64% 40%;
		--color-primary-90: 228 55% 18%;
		--color-general-0: 210 40% 98%;
		--color-general-10: 210 40% 96%;
		--color-general-20: 214 32% 91%;
		--color-general-30: 213 27% 84%;
		--color-general-40: 215 20% 65%;
		--color-general-50: 215 16% 47%;
		--color-general-60: 215 19% 35%;
		--color-general-70: 215 25% 27%;
		--color-general-80: 217 33% 17%;
		--color-general-90: 222 47% 11%;
		--color-success-0: 147 85% 97%;
		--color-success-10: 147 85% 95%;
		--color-success-20: 153 87% 88%;
		--color-success-30: 155 88% 81%;
		--color-success-40: 153 88% 67%;
		--color-success-50: 154 52% 55%;
		--color-success-60: 159 42% 43%;
		--color-success-70: 169 41% 30%;
		--color-success-80: 175 42% 21%;
		--color-success-90: 188 51% 12%;
		--color-info-0: 185 100% 98%;
		--color-info-10: 183 100% 95%;
		--color-info-20: 182 100% 89%;
		--color-info-30: 182 100% 82%;
		--color-info-40: 182 100% 69%;
		--color-info-50: 185 96% 51%;
		--color-info-60: 188 100% 42%;
		--color-info-70: 188 100% 28%;
		--color-info-80: 185 100% 20%;
		--color-info-90: 183 100% 13%;
		--color-warning-0: 17 100% 99%;
		--color-warning-10: 13 100% 97%;
		--color-warning-20: 17 95% 93%;
		--color-warning-30: 16 94% 88%;
		--color-warning-40: 16 94% 79%;
		--color-warning-50: 16 93% 70%;
		--color-warning-60: 16 66% 63%;
		--color-warning-70: 16 40% 42%;
		--color-warning-80: 16 40% 32%;
		--color-warning-90: 19 38% 21%;
		--color-danger-0: 0 100% 98%;
		--color-danger-10: 0 88% 97%;
		--color-danger-20: 358 86% 91%;
		--color-danger-30: 358 86% 86%;
		--color-danger-40: 359 86% 75%;
		--color-danger-50: 359 84% 65%;
		--color-danger-60: 359 63% 58%;
		--color-danger-70: 359 46% 39%;
		--color-danger-80: 359 45% 29%;
		--color-danger-90: 359 46% 19%;
	}
	:root[data-theme='dark'] {
		--bg-base: 249 100% 4%;
		--color-base: 0 0% 100%;
		--bg-container: 198 32% 14%;
		--color-primary: 191 81% 19%;
	}

	* {
		@apply box-border list-none p-0 m-0 scroll-smooth font-poppins;
	}
	body {
		@apply container max-w-[1440px] mx-auto;
	}
	.text-h1 {
		@apply text-clamp-h1 text-color-base font-semibold leading-tight;
	}
	.text-h2 {
		@apply text-clamp-h2 text-color-base font-semibold leading-tight;
	}
	.text-h3 {
		@apply text-clamp-h3 text-color-base font-semibold leading-tight;
	}
	.text-h4 {
		@apply text-clamp-h4 text-color-base font-semibold leading-tight;
	}
	.text-h5 {
		@apply text-clamp-h5 text-color-base font-semibold leading-tight;
	}
	.text-h6 {
		@apply text-clamp-h6 text-color-base font-semibold leading-7;
	}
}

.ant-form-item-required {
	flex-direction: row-reverse;
}
.ant-form-item-required::before {
	margin-left: 4px;
}
.ant-form-item-required::after {
	width: 0;
	margin: 0 !important;
}

.ant-modal-root .ant-modal-wrap {
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
.ant-modal .ant-modal-content {
	padding: 0;
}

.text-gradient {
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.4),
			rgba(255, 255, 255, 0.4)
		),
		linear-gradient(
			90.01deg,
			#e59cff 0.01%,
			#6ee2f5 50.01%,
			#9cb2ff 100%
		);
	background-blend-mode: normal, screen;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
